* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    /*font-family: "Merriweather", serif;*/
}



.container {
    max-width: 1420px;
    margin: 0 auto;
}

/*header banner1 starts*/
.header_banner1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)), url(./Images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 177px 344px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.banner1_title {
    text-align: center;
    font-family: "Merriweather", serif;
    color: rgb(255, 255, 255);
}

.banner1_title h3 {
    font-size: 32px;
    line-height: 67px;
    font-weight: 400;
}

.banner1_title h2 {
    font-size: 72px;
    font-weight: 900;
}

/*header banner1 ends*/
/*header add starts*/
.header_add {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 120px;
}

.add_title {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
}

.add_description {}

.add_description h4 {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
}

.add_description h3 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
}


/*header add ends*/
/*header banner2 starts*/
.header_banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .1)), url(Images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 120px;
}

.banner2_info {
    color: white;
}

.banner2_title {
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
}


.banner2_description {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 30px;
}



.banner2_button a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.banner2_image {
    padding-top: 67px;
    padding-bottom: 67px;
}

/*header banner2 ends*/

/*join section starts*/
.join_section {
    padding: 105px 386px;
    background-image: linear-gradient(to bottom, #ffe5e5, #ffffff);
    border-radius: 16px;
    margin-bottom: 120px;
}

.join_desc {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.join_desc h3 {
    font-weight: 500;
}

.join_date {
    line-height: 70px;
}

.join_desc h3 span {
    color: #ff0000;
}

.join_button {
    text-align: center;
}

.btn {
    border-style: none;
    color: #ffff;
    background-color: #ff0000;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 5px;
}

/*join section ends*/
/*offer section starts*/
.offer_section {
    display: flex;
    align-items: center;
    gap: 116px;
    margin-bottom: 120px;
    justify-content: center;
}

.offer_title1 {
    font-size: 24px;
    font-weight: 500;
    color: red;
}

.offer_title2 {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.offer_desc {
    font-size: 20px;
    font-weight: 400;
    color: #85838a;
    width: 396px;
}


.offer_image img {
    display: inline-block;
    height: 369px;
    width: 369px;
    border: 12px solid red;
    border-radius: 50%;
    padding: 23px;
}

.year {
    font-size: 48px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.year_info {
    font-size: 20px;
    font-weight: 400;
    color: #85838a;
    margin-top: 16px;
    margin-bottom: 40px;
    width: 271px;
}

/*offer section ends*/
/*discount section starts*/
.discount_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.discount_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin-bottom: 160px;
}

.discount_title1 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(7, 2, 17);
}

.discount_title2 {
    font-size: 72px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    color: rgb(7, 2, 17);
    margin-top: 16px;
    margin-bottom: 28px;
}

.discount_title2 span {
    color: #ff0000;
}

.discount_description {
    font-size: 20px;
    font-weight: 500;
    color: rgb(7, 2, 17, .6);
    text-align: center;
}

.discount_images {
    height: 663px;
}

.group75 {
    position: relative;
    top: -1px;
    left: 11px;
    z-index: 3;
}

.Rectangle1 {
    position: relative;
    top: -229px;
    left: 90px;
}

.group44 {
    position: relative;
    top: -572px;
    left: 732px;
}

.Rectangle2 {
    position: relative;
    top: -543px;
    left: 0px;
    z-index: 2;
}

/*discount section ends*/
/*products section starts*/
.products_section {
    margin-bottom: 120px;
}

.products_info {
    margin-bottom: 48px;
}

.products_title1 {
    font-size: 24px;
    font-weight: 500;
    color: #ff0000;
}

.products_title2 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    font-family: "Merriweather", serif;
    margin-top: 16px;
    margin-bottom: 22px;
}

.products_desc {
    font-size: 20px;
    font-weight: 400;
    color: rgb(7, 2, 17, .6);
}

.products_images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.products_images img {
    transition: .3s;
}

.products_images img:hover {
    transform: scale(1.1);
}

/*products section ends*/
/*Subscribe section srats*/
.subscribe_section {
    background-color: #fff2f2;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.sub_info {
    text-align: center;
    padding-top: 80px;
}



.sub_title {
    font-size: 48px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sub_desc {
    font-size: 20px;
    font-weight: 400;
    color: rgb(7, 2, 17, .6);
    margin-bottom: 48px;
}

.form_area {
    display: flex;
    padding-bottom: 80px;
}


.form-box {
    height: 55px;
    width: 300px;
    border-radius: 35px 0px 0px 35px;
    padding: 30px 25px 25px 30px;
    border-style: none;
}

.sub_btn {
    background-color: #ff0000;
    border-style: none;
    padding: 20px 45px;
    color: white;
    font-weight: 600;
    border-radius: 0px 35px 35px 0px;
}

/*subscribe section ends*/
footer {
    background-color: rgb(7, 2, 17);
}

.contact_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 120px;
}


.address p {
    color: white;
    font-size: 24px;
    font-weight: 500;
}


.email_phone p {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.contact_icon {
    display: inline-block;
}

.website_section {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    letter-spacing: 26px;
}

.copyright_section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 120px;
}

.copyright_section p {
    color: white;
    font-size: 24px;
    font-weight: 500;
}